<!DOCTYPE >
<html>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?a3f20791506a93e3f3d5eda50769aac7";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<!--在body中添加一个a标签 ‘站长统计’-->

<script src="https://s22.cnzz.com/z_stat.php?id=1264146537&web_id=1264146537" language="JavaScript"></script>



<style>
    body>a{display:inline-block;margin:0;padding:0;width:0;height:0;opacity:0;}
</style>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="深圳学历提升，学历，学历提升，学历提升学校，广东学历提升，深圳百慧通.学历提升，百慧通.学历提升，电大，成人高考，远程授课，深圳自考培训学校，电大成人高考远程授课">
    <meta name="description" content="深圳百慧通，深圳学历提升，学历提升，学历，学历提升中心，电大成人高考远程授课，深圳自考培训，深圳远程培训学校，深圳成人高考训班，深圳市百慧通，
    ，深圳成人学历报名中心|百慧通自考学院——深圳自考培训十佳院校,主考院校教授级师资,1年协议过关取名校学历,通过率连续3年领跑,咨询报名:0755-8860-1039">
    <title>百慧通·教育—学历教育-中国学历教育服务商</title>
    <link rel="icon" href="../images/T_logo.jpg">
    <link rel="stylesheet" href="../css/eduUp.css">
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20002550/10075191.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/ssss.js"></script>


</head>
<body>
<div id="vm">
    <header>
        <nav  id="headNav">
            <span id="logo"><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="百慧通logo"><img :src="logo" alt="百慧通logo" ></a></span>
            <ul class="headNavBar">
                <!--<li ><a href="../index.html">首 页</a></li>-->
                <li class="active"><a href="" >学历提升 </a></li>
                <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow">成人自考</a></li>
                <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow">远程授课</a></li>
                <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow">函授学历</a></li>
                <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow">热门院校</a></li>
                <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow">热门专业</a></li>
            </ul>
            <a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="咨询热线" id="tell"><span  >TEl:{{tell}}</span></a>
        </nav>
        <aside class="rigtAside">
            <h3><b>>></b><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="百慧通中心" >百慧通中心</a></h3>
            <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="百慧通中心">无学历升专咨询</a></li>
            <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="百慧通中心">无学历升本咨询</a></li>
            <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="百慧通中心">高升专咨询</a></li>
            <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="百慧通中心">专升本咨询</a></li>
            <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="百慧通中心">高升本咨询</a></li>
            <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="百慧通中心">3420元修学历</a></li>
            <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="百慧通中心">自考学历咨询</a></li>
            <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="百慧通中心">成考学历咨询</a></li>
            <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="百慧通中心">热门专业咨询</a></li>
            <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="百慧通中心">热门院校咨询</a></li>
            <li><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="百慧通中心">TEL:8860-1216</a></li>
        </aside>
        <div class="banner">
            <h1>1.5年快班，快速获取重点院校的本科学历!</h1>
            <!--<p>从{{fromTime}}至{{toTime}}，前50名报名学员将有机会获得iPhone7等抽奖奖品。</p>-->
            <span>正规学历 | 学信网备案 | 国家承认 | 不过理赔退费</span>
            <div id="bannerForm">
                <input type="hidden" class="msg_text" name="msg_webID" value="19682" />     <!--这里的value值指的是乐语中的webID和天网系统里的站点号-->
                <input type="hidden" class="msg_text" name="msg_url" value="" />
                <input type="hidden" class="msg_text" name="msg_remarks" value="" />

                姓名：<input type="text" name="msg_username" class="msg_text" placeholder="请输入您中文名字" />
                电话：<input type="text" name="msg_userphone" class="msg_text"  placeholder="请输入您的电话" />
                提升级别：
                <select  class="msg_other">
                    <option :value="key" v-for="(opt,key) in optList">{{opt}}</option>
                </select>
                <button class="bannerBtn" onclick="$.msgSubmit('bannerForm')">提 交</button>
            </div>
        </div>
    </header>
    <section class="main" id="policy">
        <h1><b>你必须知道“2017年中国成人教育大改革</b></h1>
        <p>对于有些人来说今年最后一次报考机会</p>
        <dl>
            <img :src="mainSrc[0]" alt="policyImg" >
            <dd>
                <h3>教育部将对成人教育进行改革</h3>
                <p>教育部将对成人学历进行改革，要把现有的成人教育整合，形成新的教育模式。继续教育将统一实行全日制标准学年，本质上延长了取证时间。</p>
                <button> <a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow" title="咨询热线">点击在线咨询</a></button>
                <span><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow"  title="咨询热线">咨询热线:{{tell}}</a></span>
            </dd>
        </dl>
    </section>
    <section class="programme">
        <h1>适用人群：<b>上班族专属学历提升方案</b></h1>
        <p><a href="javascript:void(0)" @click="serverClick($event)"  :target="blank" rel="nofollow" class="xia">
            <img :src="mainSrc[1]" alt="xia" alt="百慧通xia">
        </a></p>
        <ul>
            <li v-for="list in level"><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow">{{list}}</a></li>
        </ul>
    </section>
    <section class="main destiny">
        <img :src="mainSrc[2]" alt="destiny">
        <div><h2>2017有了名校学历<br>改变命运</h2>
            <p>立刻行动，改变命运不是梦</p>
            <button><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow">立即咨询 <b>»</b></a></button>
        </div>
    </section>
    <section class="dream">
        <h1><b>梦想</b>启程<br><span>现在，我们伴你同行，共同成长；未来，我们一起见证，一起分享</span> </h1>
        <p><img :src="mainSrc[3]" alt="dreameImg"></p>
    </section>

    <section class="main major Honor">
        <h1><i></i><span>您值得</span><u>选择我们</u><i></i></h1>
        <ul>
            <li v-for="list in major"><a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow">{{list}}</a></li>
        </ul>
    <img :src="mainSrc[4]" alt="majorImg">
        <div class="img">
            <a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow">
            <li v-for="list in selectWe">
                <img :src="list.ico" :alt="list.ico">
                <h2>{{list.title}}</h2>
                <p>{{list.text}}</p>
                <button>{{list.more}}</button>
           </li>
        </a>
        </div>
    </section>
    <section class="main" id="cellWe">
        <a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow"><img :src="mainSrc[6]" alt="Geography.jpg"></a>
    </section>
    <footer>
        <div>
            <a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow"><img :src="mainSrc[7]" alt="footerLogo"></a>
            <p>
                <a href="#" target="_self" rel="nofollow" >网站首页 |</a>
                <a href="#aboutWe" target="_self" rel="nofollow" >关于我们 |</a>
                <a href="#cellWe"  rel="nofollow" >联系我们 / 0755-8860-1216</a>
            </p>
          <span>深圳百慧通教育版权所有 备案号：粤ICP备12039245号-1</span>
        </div>
    </footer>
    <div class="footerAside">
        您想了解的
        <button v-for="list in footerAside">
            <a href="javascript:void(0)" @click="serverClick($event)" :target="blank" rel="nofollow">{{list}}</a>
        </button>
    </div>
</div>

<script type="text/javascript" charset="utf-8" src="../js/vue.2.42.js"></script>
<script type="text/javascript" charset="utf-8" src="../js/eduUp.js"></script>
</body>
</html>
